<!DOCTYPE html>
	<html lang="en">
	<head>
	</head>
	<!-- Navbar stylesheet     -->
	<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
	<header>
		<nav id="navbar">
			<h1>mapPin</h1>
			 <% if (user) { %>
					<ul class="navbarlinks">
						<form method="POST" action="/logout">
							<input id="logout" type="submit" value="LOGOUT">
						</form>
						<a href="/users"> USER </a>
						<a href="/edit"> EDIT </a>
						<a href="/"> HOME </a>
					</ul>
				<% } else { %>
					<ul class="navbarlinks">
						<a href="/register"> REGISTER </a>
						<a href="/login"> LOG IN </a>	
						<a href="/"> HOME </a>
					</ul>
				<% } %>
		</nav>
	</header>
</html>
