<!DOCTYPE html>
	<html lang="en">
	<head>
	</head>
	<!-- Navbar stylesheet     -->
	<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
	<!-- Bootstrap stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<header>

		<nav class="navbar navbar-fixed-top">
	  	<a id="logo" class="navbar-brand" href="/">mapPin</a>
			 <% if (user) { %>
					<!-- <%= user.name %> -->
					<div class="container">
					 <ul class="nav navbar-nav">
						<li><a id="navlinks" href="/"> HOME </a></li>
						<li><a id="navlinks" href="/users"> PROFILE </a></li>
						<li><form method="POST" action="/logout">
							<input id="logout" type="submit" value="LOGOUT" />
						</form></li>
					 </ul>
				<% } else { %>
					<div class="container">
					 <ul class="nav navbar-nav">
					 	<li><a id="navlinks" href="/"> HOME </a></li>
						<li><a id="navlinks" href="/register"> REGISTER </a></li>
						<li><a id="navlinks" href="/login"> LOG IN </a></li>
					 </ul>
					</div>
				<% } %>
					</div>
		</nav>
	</header>
</html>
