<h1>mapPin</h1>
<ul class="login">
    <a href="/register"> REGISTER</a>
    <a href="/login"> LOG IN </a>
    <a href="/"> HOME </a>
    <a href="/users"> USER </a>
     <a href="/edit"> EDIT </a>

</ul>