<!DOCTYPE html>
    <html lang="en">
    <head>
    </head>
    <!-- Navbar stylesheet     -->
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

    <nav id="navbar">
        <h1>maPin</h1>
        <ul class="login">
            <a href="/register"> REGISTER</a>
            <a href="/login"> LOG IN </a>
            <a href="/"> HOME </a>
            <a href="/users"> USER </a>
            <a href="/edit"> EDIT </a>

        </ul>
    </nav>
</html>