<!DOCTYPE html>
	<html lang="en">
	<head>
	</head>
	<!-- Navbar stylesheet     -->
	<link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
	<header>
		<nav id="navbar">
			<h1><a id="logo" href="/">mapPin</a></h1>
			 <% if (user) { %>
					 <ul class="navbarlinkwrap">
						<form method="POST" action="/logout">
							<input id="logout" type="submit" value="LOGOUT">
						</form>
						<a class="navbarlinks" href="/users"> USER </a>
						<a class="navbarlinks" href="/"> HOME </a>
					 </ul>
				<% } else { %>
					 <ul class="navbarlinkwrap">
						<a class="navbarlinks" href="/register"> REGISTER </a>
						<a class="navbarlinks" href="/login"> LOG IN </a>
						<a class="navbarlinks" href="/"> HOME </a>
					 </ul>
				<% } %>
		</nav>
	</header>
</html>
