<!DOCTYPE html>
	<html lang="en">
	<head>
		<!-- Navbar stylesheet     -->
		<link rel="stylesheet" href="/css/navbar.css" type="text/css" />
	</head>
	<header>

		<nav class="navbar navbar-fixed-top">
	  	<a id="logo" class="navbar-brand" href="/">mapPin</a><i class="fa fa-map-marker fa-lg"></i>
			 <% if (user) { %>
					<!-- <%= user.name %> -->
					<div class="container">
					 <ul class="nav navbar-nav">
						<a id="navlinks" href="/"> HOME </a>
						<a id="navlinks" href="/users"> PROFILE </a>
						<form method="POST" action="/logout">
							<input id="logout" type="submit" value="LOGOUT" />
						</form>
					 </ul>
				<% } else { %>
					<div class="container">
					 <ul class="nav navbar-nav">
					 	<a id="navlinks" href="/"> HOME </a>
						<a id="navlinks" href="/register"> REGISTER </a>
						<a id="navlinks" href="/login"> LOG IN </a>
					 </ul>
					</div>
				<% } %>
					</div>
		</nav>
	</header>
</html>
