<!DOCTYPE html>
    <html lang="en">
    <head>
    </head>
    <!-- Navbar stylesheet     -->
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <div>
        <nav id="navbar">
            <h1>mapPin</h1>
            <ul class="navbarlinks">
                <a href="/register"> REGISTER </a>
                <a href="/login">LOG IN </a>
                <a href="/"> HOME </a>
                <a href="/users"> USER </a>
                <a href="/edit"> EDIT </a>
            </ul>
        </nav>
        <!-- Add if logged in -->
        <form method="POST" action="/logout">
          <input submit="submit" value="logout">
        </form>

    </div>
</html>
