<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
    <body>
			<h1> You are logged out </h1>
			<% include partials/_header %>
			<% if (errors.length) { %>
				<% errors.forEach(error => { %>
					Error: <%= error %>
				<% }) %>
			<% } %>
			<% if (info.length) { %>
				<% info.forEach(message => { %>
					<%= message %>
				<% }) %>
			<% } %>
			</form>
    </body>
</html>
