<!DOCTYPE html>
<html lang="en">
  <head></head>

   <body>
      <% include partials/_header %>
        <% if (errors.length) { %>
        <% errors.forEach(error => { %>
          Error: <%= error %>
        <% }) %>
      <% } %>
      <% if (info.length) { %>
        <% info.forEach(message => { %>
          <%= message %>
        <% }) %>
      <% } %>
    <form method="POST" action="/register" >
      <input id="name" type="text" name="name" placeholder="type name...">
      <input id="email" type="email" name="email" placeholder="type email...">
      <input id="password" type="password" name="password" placeholder="type password...">
      <button type="submit">Register</button>
      Already a member? <a href="/login">Log in here!</a>
    </form>
  </body>
</html>
