<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
    <body>
      <h1>
        Welcome to your page 
        <% if(user) { %>
          <h2><%=name%><h2>
        <%}%>
      </h1>
        <% include partials/_header %>
        <% if (errors.length) { %>
          <% errors.forEach(error => { %>
            Error: <%= error %>
          <% }) %>
        <% } %>
        <% if (info.length) { %>
          <% info.forEach(message => { %>
            <%= message %>
          <% }) %>
        <% } %>
        <form method="POST" action="/favourites" >
          <button type="submit">Favourite</button>
        </form>
    </body>
</html>
