<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
    <body>
      <h1>
        Welcome to your page 
        <% if(user) { %>
          <%=name%>
        <%}%>
      </h1>
        <% include partials/_header %>
        <% if (errors.length) { %>
          <% errors.forEach(error => { %>
            Error: <%= error %>
          <% }) %>
        <% } %>
        <% if (info.length) { %>
          <% info.forEach(message => { %>
            <%= message %>
          <% }) %>
        <% } %>
        <section class="favlist">
          <h2>
            My favourites:
          </h2>
          <ul>
            <li> Fried Chicken </li>
            <li> Cafe </li>
            <li> Hairdresser </li>
          </ul>
        </section>

    </body>
</html>
