
body {
  margin: 0;
}

.navbar {
  color: white;
  background-color: black;
  height: 60px;
  border-color: #e7e7e7;
}

#favourite {
  float: right;
}

ul.nav.navbar-nav {
  width: 20em;
  float: right;
  margin-left: 1em;
  text-decoration: none;
  background-color: transparent;
}

div.container {
  margin-right: 3em;
  float: right;
  width: 10px;
}

a#navlinks {
  color: white;
}

#navlinks:hover {
  text-decoration: none !important;
  background-color: transparent;
  color: black;
}

a#logo.navbar-brand {
  color: white;
  font-family: sans-serif;
  width: 100px;
  float: left;
  font-size: 38px;
  font-weight: 800;
  line-height: 1em;
  text-decoration: none;
}

#logout {
  color: black, .7;
  border: none;
  font: inherit;
  cursor: pointer;
  float: right;
}
#slogan{
  color: white;
  background: black;
  font-size: 30x;
  margin: 0;
  
}
