body {
  margin: 0;
}

.fa.fa-map-marker{
  padding-left: 1.6em;
  padding-top: 0.6em;
}

.fa.fa-map-marker:hover {
  color: peru;
}

.navbar {
  background-color: black;
  color: white;
  height: 60px;
}

#favourite {
  float: right;
}

span#get-logo {
  font-size: 13px;
  left: 6px;
  position: absolute;
  top: 9px;
}

span#get-logo:hover {
  color: peru;
}


div.nav.navbar-nav {
  float: right;
  padding-top: 1em;
  width: 15em;
}

div.loggedin-container {
  float: right;
  margin-top: 20px;
  width: 240px;
}

div.loggedout-container {
  float: right;
  width: 10px;
}

input#logout {
  margin-top: 8px;
  position: absolute;
  right: 7px;
}

input#logout:hover {
  color: peru;
}

a#navlinks {
  color: white;
  margin-right: 1em;
}

#navlinks:hover {
  color: peru;
}

a#logo.navbar-brand {
  color: white;
  float: left;
  font-family: 'Nothing You Could Do';
  font-size: 38px;
  font-weight: 800;
  padding-top: 9.5px;
  padding-left: 20px;
  width: 95px;
}

a#logo.navbar-brand:hover {
  color: peru;
}

#logout {
  border: none;
  color: black, .7;
  cursor: pointer;
  float: right;
  font: inherit;
}

.footer {
  bottom:0;
  color: white;
  font-family: 'Nothing You Could Do';
  padding-bottom: 4px;
  padding-right: 5px;
  position: fixed;
  right: 5px;
}

input#logout {
  background-color: black;
  color: white;
  top: 10px;
}

h1#welcome-user {
  color: white;
  margin-left: 20px;
  margin-top: 50px;
}

h2#my-favourites {
  color: peru;
  padding: 20px 50px;
  text-align: center;
  text-shadow: 3px 3px black;
}

li#fav-list {
  margin: auto;
  text-align: center;
  width: 350px;
}

#fav-list a {
  color: white;
}

#fav-list a:hover {
  color: black;
  font-size: 25px;
}
h3#my-contributions{
  color: peru;
  padding: 20px 50px;
  text-align: center;
  text-shadow: 3px 3px black;
}

h3#my-contributions{{
  color: peru;
  padding: 20px 50px;
  text-align: center;
  text-shadow: 3px 3px black;
}
