/* The styles below are not correct and needs to be configured */

#navbar {
  min-width: 460px;
  background-color: #b3fd62;
  font-size: 10pt;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0;
  padding-top: 0;
  position: static;
  top: 0;
  height: 5em;
  width: 100%;
  z-index: 4;
}
h1 {
  width: 100px;
  float: left;
  font-size: 38px;
  font-weight: 800;
}

a {
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  text-decoration: none;
}

h2 {
  float: right;
  margin-top: 3.5em;
  font-size: 20px;
  padding: 10px 250px 0px 24px;
}
