/* The styles below are not correct and needs to be configured */

#navbar {
  min-width: 460px;
  background-color: #00a087;
  font-size: 10pt;
  height: 80px;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#navbar .a {
    float: right;

}
