body {
  padding-top: 70px;
}

.navbar {
  background-color: #b3fd62;
  height: 60px;
  border-color: #e7e7e7;
}

#favourite {
  float: right;
}

ul.nav.navbar-nav {
  width: 20em;
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  text-decoration: none;
  background-color: transparent;
}

div.container {
  margin-right: 3em;
  float: right;
  width: 10px;
}

a#navlinks {
  color: black;
}

#navlinks:hover {
  text-decoration: none !important;
  background-color: transparent;
  color: black;
}

a#logo.navbar-brand {
  font-family: sans-serif;
  width: 100px;
  float: left;
  font-size: 38px;
  font-weight: 800;
  line-height: 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

#logout {
  background: none !important;
  color: black, .7;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  float: right;
  margin-left: 1em;
  margin-top: 1em;
}

h2 {
  margin-top: 3.5em;
  font-size: 15px;
  padding: 10px 250px 0px 24px;
}

#map {
  width: 100%;
  height: 500px;
  background-color: #ddd;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}
