$brand-colour:#b3fd62;
$brand-font: sans-serif;

body { 
  padding-top: 70px; 
}

.navbar {
    background-color: $brand-colour;
    height: 60px;
    border-color: #e7e7e7;
}



// .navbar-deafault {
//   margin-top: -13px;
//   font-family: $brand-font;
//   min-width: 460px;
//   background-color: $brand-colour;
//   font-size: 10pt;
//   left: 0;
//   padding-left: 2em;
//   padding-right: 2em;
//   padding-bottom: 0;
//   padding-top: 0;
//   position: static;
//   top: 0;
//   height: 5em;
//   width: 100%;
//   z-index: 4;
// }

ul.nav.navbar-nav {
  width: 20em;
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  text-decoration: none;
  background-color:transparent;

}

div.container {
  margin-right: 3em;
  float: right;
  width: 10px;
}

a#navlinks {
  color: black, .7;
}

#navlinks:hover {
    text-decoration: none!important;
    background-color:transparent;
    color: black;
}

a#logo.navbar-brand {
  font-family: $brand-font;
  width: 100px;
  float: left;
  font-size: 38px;
  font-weight: 800;
  line-height: 1em;
  text-decoration: none;
  color: rgba(black, .7); 
}

#logout {
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  float: right;
  margin-left: 1em;
  margin-top: 1em;
  text-decoration: none;
}

// h2 {
//   float: right;
//   margin-top: 3.5em;
//   font-size: 20px;
//   padding: 10px 250px 0px 24px;
// }
